<!DOCTYPE html>
<html>
    <head>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.7.2/bluebird.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip-utils/0.1.0/jszip-utils.js"></script>
        <script src="scripts/main.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="col-12 text-center">
                <h4>Download all liked videos from coub!</h4>
                <h5>Coded by mogyiii!</h5>
                    <p>This script uses "coubtovideo.com"</p>
                    <p>This script works -> 2022.04.01</p>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-primary" (click)="downloadClick($event)">Download</button>
            </div>
        </div>
    </body>
</html>